@model Client
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table id="add" class="table table-bordered"> 
  
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Mobile</td>
            <td>@Model.Address</td>
            <td>@Model.Email</td>
        </tr>
  </table>

